body{
	background: #48c9b0;
}

form{
	margin-left: auto;
	margin-right: auto;
}

.panel-container{
	display: flex;
	flex-direction: column;
}

.board{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	min-width: 370px;
	margin-left: auto;
	margin-right: auto;
}

.answer-container{
	height: 10%;
	margin-left: auto;
	margin-right: auto;
}

.attempt-container{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.guess-container{
	margin-left: auto;
	margin-right: auto;
}

.tip-container{
	width: 40%;
	height: 100%;
	margin-left: 25px;
}

.guess-tip-container{
	display: flex;
	flex-direction: row;
}

.selection{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}

.text{
	margin-left: auto;
	margin-right: auto;
	height: 30%;
}

.submit-button{
	margin-left: auto;
	margin-right: auto;
}

.guess-dot {
    height: 30px;
    width: 30px;
	margin: 5px 5px;
    background-color: #bbb;
    border-radius: 50%;
	box-sizing: border-box;
	border-width: 3px;
	border-style: solid;
    display: inline-block;
}

.tip-dot {
    height: 15px;
    width: 15px;
	margin: 12px 2px;
    background-color: #bbb;
    border-radius: 50%;
	box-sizing: border-box;
	border-width: 3px;
	border-style: solid;
    display: inline-block;
}

.red {
	background-color: rgb(231, 76, 60);
}

.blue {
	background-color: rgb(52, 152, 219);
}

.yellow {
	background-color: rgb(241, 196, 15);
}

.green {
	background-color: rgb(46, 204, 113);
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.correct {
	background-color: red;
}

.misplaced {
	background-color: white;
}
